@font-face {
   font-family: lexend;
   src: url(../public/fonts/Lexend-Regular.ttf);
}
* {
   font-family: lexend;
   box-sizing: border-box;
}

a {
   color: inherit;
   text-decoration: none;
}
.App {
   padding: 20px 80px;
}
